.Content
  padding: 80px 25px
  &.center
    display: flex
    justify-content: center
    align-items: center
  &.full
    width: 100%
    min-height: 100vh
  &.medium
    min-height: 650px
  &.small
    min-height: 500px
  &.border
    border-top: 1px solid
  &.hero
    height: 100%
    display: flex
    flex-direction: column
    #Logo
      margin-bottom: 10vh
  &.bg-image
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: cover

@media screen and (max-width: 850px)
  .Content
    padding: 40px 25px
  .Container
    width: 100%
  .Content
    &.medium, &.small
      min-height: auto