.Title
  margin: 5px 0
  line-height: 2.2em
  &.center
    margin-left: auto
    margin-right: auto
    text-align: center
    max-width: 500px
  &.margin
    margin-bottom: 40px
  > span
    display: block
  .text
    text-transform: uppercase
    font-weight: 700
    font-size: 16px    
  &.small .text
    font-size: 14px
    text-transform: none
    letter-spacing: normal
    line-height: 2rem

@media screen and (max-width: 500px)
  .Title .text
    font-size: 14px