doctype html
html(lang='en')

  include layouts/head/_

  body.over-dark

    include partials/header/_
 
    include partials/about
    include partials/technologies
    include partials/projects

    include layouts/scripts