section#about.Content
  .Container
    .Title.center.margin
      span.text About me
    #Social.center.margin
      a.icon(href=`https://github.com/${about.socialNetworks.github}`, title='GitHub' target='_blank')
        i.fa.fa-github
      a.icon(href=`https://linkedin.com/in/${about.socialNetworks.linkedin}`, title='Linkedin' target='_blank')
        i.fa.fa-linkedin
    p #{about.description}