section#technologies.Content.Dark
  .Container
    .Title.center.margin
      span.text Technologies I work with
    .ItemsCollection
      each technology in technologies
        .topic
          img(src=`images/${technology.title.toLowerCase()}.png`, alt=`${technology.title} logo`)
          p #{technology.description}
