@import 'base/page'

@import 'layouts/technologies'
@import 'layouts/projects'

@import 'components/container'
@import 'components/content'
@import 'components/icon'
@import 'components/image'
@import 'components/social'
@import 'components/title'