#Menu
  .left
    a(href="/") #{about.title}

  .right
    a(href='/#about') About
    a(href="/#technologies") Technologies
    a(href='/#projects') Projects
    a(href=`mailto:${about.email}`) Contact