#Menu
  .left
    a(href="/") falcaoaugustos

  .right
    a(href='/#about') About
    a(href="/#technologies") Technologies
    a(href='/#projects') Projects
    a(href="/") Resume
    a(href='mailto:falcaoaugustos@gmail.com') Contact