.Technologies
  display: flex
  flex-wrap: wrap
  justify-content: center
  .topic
    width: 300px
    margin: 40px 25px
    .title
      text-transform: uppercase
      font-weight: 700
    img
      max-width: 150px
      display: block
      margin: 0 auto

@media screen and (max-width: 850px)
  .Technologies .topic
    width: 100%
    margin: 20px 25px